

<div class="hero min-h-screen bg-base-100">
   
    <div class="hero-content flex-col lg:flex-row-reverse">

      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">About Me!</h1>
        <p class="py-6">I am a person who love to learn new skills and I am curious about lot of stuff, that I don't know and once I set my mind to something I make sure to do it.
            I love coding and watching animation
        </p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <img src="../../../assets//programmer.svg" alt="">
        </div>
      </div>
    </div>
  </div>


