<div class="main">
    <div class="hero min-h-screen b"
        style="background-image: url(../../../assets/me2.jpeg); background-size: cover;background-repeat: no-repeat;">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-3xl font-bold">I am Shaggy Belco Sambo</h1>
                <p class="mb-5">Software Developer, Fullstack Developer and UI/UX Designer
                    
                </p>
                <button class="btn btn-primary" href="#about"
                    onClick="document.getElementById('about').scrollIntoView({behavior:'smooth',block:'start'});">Get Started</button>
            </div>
        </div>
    </div>
</div>